<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--    <meta charset="utf-8">-->
<!--    <title>Log in with your account</title>-->
<!--</head>-->

<!--<body>-->
<!--<sec:authorize access="isAuthenticated()">-->
<!--    <% response.sendRedirect("/"); %>-->
<!--</sec:authorize>-->
<!--<div>-->
<!--    <form method="POST" action="/login">-->
<!--        <h2>Вход в систему</h2>-->
<!--        <div>-->
<!--            <input name="username" type="text" placeholder="Username"-->
<!--                   autofocus="true"/>-->
<!--            <input name="password" type="password" placeholder="Password"/>-->
<!--            <button type="submit">Log In</button>-->
<!--            <h4><a href="/registration">Зарегистрироваться</a></h4>-->
<!--        </div>-->
<!--    </form>-->
<!--</div>-->

<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <title>Login page</title>
    </head>
    <body>
        <h1>Login page</h1>
        <p th:if="${loginError}">Wrong user or password</p>
        <form th:action="@{/login}" method="post">
            <label for="username">Username</label>:
            <input type="text" id="username" name="username" autofocus="autofocus"/> <br/>
            <label for="password">Password</label>:
            <input type="password" id="password" name="password"/> <br/>
            <input type="submit" value="Log in"/>
        </form>
        <p><a th:href="@{/registration}">Register</a></p>
    </body>
</html>