<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" th:href="@{/css/style.css}">
        <title>Password vault</title>
    </head>
    <body>
        <div class="nav">
            <a href="/">Home</a>
            <a href="/logout">Logout</a>
        </div>
        <h2>Welcome to password vault, <span sec:authentication="name"></span></h2>
        <table>
            <caption>Your vault logins</caption>
            <thead>
            <tr>
                <th>Name</th>
                <th>Website</th>
                <th>Username</th>
                <th>Password</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="4">
                        <form th:action="@{/vault/{vaultId}/login(vaultId=${vault.getId()})}" th:object="${loginForm}" method="post">
                            <label><input type="text" th:field="*{name}"></label>
                            <label><input type="text" th:field="*{website}"></label>
                            <label><input type="text" th:field="*{username}"></label>
                            <label><input type="text" th:field="*{password}"></label>
                            <button type="submit">New Login</button>
                        </form>
                    </td>
                </tr>
                <tr th:each="login : ${vault.logins}">
                    <td th:text="${login.name}"></td>
                    <td th:text="${login.website}"></td>
                    <td th:text="${login.username}"></td>
                    <td th:text="${login.getPasswordDecrypted()}"></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>