<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" th:href="@{/css/style.css}">
        <title>Password vault</title>
    </head>
    <body>
        <div class="nav">
            <a href="/">Home</a>
            <a href="/logout">Logout</a>
        </div>
        <h2>Welcome to password vault, <span sec:authentication="name"></span></h2>
    </body>
</html>